<!DOCTYPE html>
<html>
  <head>
    <title>AnimeApi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;600&display=swap" rel="stylesheet">
    
    <%= favicon_link_tag asset_path('dragonball-favicon.ico') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
