<!DOCTYPE html>
<html>
  <head>
    <title>Dragonball Wiki API</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;600&display=swap" rel="stylesheet">
    
    <%= favicon_link_tag asset_path('dragonball-favicon.ico') %>
  </head>

  <body>
    <div class="header">
      <%= image_tag "dragonball_logo.png", id: 'dragonball-logo' %>
    </div>
    <div class="content-container">
      <%= yield %>
    </div>
    <div class="footer">
      <h4>Made by Hayato. 2020</h4>
      <h4><%= mail_to "hayatoclarke@gmail.com", 'Contact' %></h4>
    </div>
  </body>
</html>
